@charset "utf-8";
/* CSS Document */
/* 请将所有版本的 IE 的 css 修复放在这个条件注释中 */
.admin_page #sidebar1 { padding-top: 5px; }
.admin_page #mainContent { zoom: 1; }
.admin_page #sidebar1 { width: 177px; }
.admin_page #mainContent {margin: 0 0 0 192px; }
.admin_index #mainContent input{margin:0px;}
/* 上面的专用 zoom 属性为 IE 提供避免错误所需的 hasLayout */


.tab_content th, .tab_form th { 
	height:23px; 
	font-weight:bold; 
	font-size:12px;
	padding-left:5px; 
	padding-right:3px; 
	color:#333333;
}